$mainFont: 'Roboto',
sans-serif;
$interFont: 'Inter', 'Roboto',
sans-serif;




/* media */
$media-list: (
  /*"xxs": 374,
  "xs": 450, //на макете 360
  "sm": 700, //на макете 480
  "md": 992, //на макете 768
  "xmd": 1100, 
  "lg": 1200, //на макете 1000
  "xl": 1599,
  "xxl": 1900,*/
	"adaptHeader": 1170,
  "md": 768, //на макете 768
);

