extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"

block content
	.container.container--breadcrumbs
		ul.breadcrumbs
			li.breadcrumbs__item 
				a.breadcrumbs__link(href="")  Главная
			.breadcrumbs__delimiter
			li.breadcrumbs__item 
				a.breadcrumbs__link(href="")  Прочее
			.breadcrumbs__delimiter
			.breadcrumbs__item
				.breadcrumbs__link  Законодательство
	section.legislation
		.container
			.legislation-inner
				.legislation-title Законодательство
				.legislation-box
					.left-blue-block.legislation-box__item
						.legislation-box__item-top-text О формировании на территории Ростовской области системы долговременного ухода в рамках реализации регионального проекта «Старшее поколение», национального проекта «Демография» 
						a(href="").left-blue-block__link О формировании на территории Ростовской области системы долговременного ухода в рамках реализации регионального проекта «Старшее поколение», национального проекта «Демография» (donland.ru)
					.left-blue-block.legislation-box__item
						.legislation-box__item-top-text Федеральный закон №442-ФЗ от 28 декабря 2013 г. Об основах социального обслуживания граждан в Российской Федерации 
						a(href="").left-blue-block__link Федеральный закон «Об основах социального обслуживания граждан в Российской Федерации» от 28.12.2013 N 442-ФЗ (последняя редакция) / КонсультантПлюс (consultant.ru)
					.left-blue-block.legislation-box__item
						.legislation-box__item-top-text Приказ Минтруда России №874н от 10 ноября 2014 г. О примерной форме договора о предоставлении социальных услуг, а также о форме индивидуальной программы предоставления социальных услуг
						a(href="").left-blue-block__link Приказ Минтруда России от 10.11.2014 N 874н(ред. от 01.12.2020)»О примерной форме договора о предоставлении социальных услуг, а также о форме индивидуальной программы предоставления социальных услуг»(Зарегистрировано в Минюсте России 26.12.2014 N 35441) (edi-elets.ru)
					.left-blue-block.legislation-box__item
						.legislation-box__item-top-text Приказ Минтруда России №874н от 10 ноября 2014 г. О примерной форме договора о предоставлении социальных услуг, а также о форме индивидуальной программы предоставления социальных услуг
						a(href="").left-blue-block__link Приказ Минтруда России от 10.11.2014 N 874н(ред. от 01.12.2020)»О примерной форме договора о предоставлении социальных услуг, а также о форме индивидуальной программы предоставления социальных услуг»(Зарегистрировано в Минюсте России 26.12.2014 N 35441) (edi-elets.ru)
					.left-blue-block.legislation-box__item
						.legislation-box__item-top-text Федеральный закон от 25 декабря 2008 г. № 273-ФЗ «О противодействии коррупции»
						a(href="").left-blue-block__link Федеральный закон «О противодействии коррупции» от 25.12.2008 N 273-ФЗ (последняя редакция) / КонсультантПлюс (consultant.ru)
					.left-blue-block.legislation-box__item
						.legislation-box__item-top-text Указ Президента Российской Федерации Об утверждении формы справки о доходах, расходах, об имуществе и обязательствах имущественного характера и внесении изменений в некоторые акты
						a(href="").left-blue-block__link УКАЗ ПРЕЗИДЕНТА РОССИЙСКОЙ ФЕДЕРАЦИИ ОБ УТВЕРЖДЕНИИ ФОРМЫ СПРАВКИ О ДОХОДАХ, РАСХОДАХ, ОБ ИМУЩЕСТВЕ И ОБЯЗАТЕЛЬСТВАХ ИМУЩЕСТВЕННОГО ХАРАКТЕРА И ВНЕСЕНИИ ИЗМЕНЕНИЙ В НЕКОТОРЫЕ АКТЫ ПРЕЗИДЕНТА РОССИЙСКОЙ ФЕДЕРАЦИИ / КонсультантПлюс (consultant.ru)
					.left-blue-block.legislation-box__item 
						a(href="").left-blue-block__link Статья 10. Автономная некоммерческая организация | ГАРАНТ (garant.ru)
















