footer.site-footer
	.container
		.site-footer-inner
			.site-footer__item.site-footer__item--1
				a(href="/").footer-logo
					img(src="img/svg/sf-logo.svg", alt="")
				.sf-contacts 
					a(href="").sf-contacts-item  Контакты
					a(href="tel:+79085009697").sf-contacts-item +7 (908) 500-96-97
					a(href="mailto:anomiloserdie@bk.ru").sf-contacts-item anomiloserdie@bk.ru
					
			.site-footer__item.site-footer__item--2
				a(href="").footer-icon
					img(src="img/svg/logo-grant.svg", alt="")
				.footer-info Мы успешно реализовали проекты при поддержке фонда президентских грантов: "Социально-ориентированный телевизионный проект Отверженные" и "Служба паллиативной помощи и патронажного ухода"
			.site-footer__item.site-footer__item--3
				.footer-socials
					a.footer-social(href="") 
						img(src="img/svg/vk.svg", alt="")
					a.footer-social(href="") 
						img(src="img/svg/vk.svg", alt="")
					a.footer-social(href="") 
						img(src="img/svg/vk.svg", alt="")
				a(href="").site-footer__item-link.site-footer__item-link--mt12 Подать заявление на обслуживание
				a(href="").site-footer__item-link Часто задаваемые вопросы
				a(href="").site-footer__item-link Обратная связь
				a(href="").site-footer__item-link Как помочь